﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – тестовое приложение ASP.NET</title>

    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />

    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.growl.js"></script>
    <link href="~/Content/jquery.growl.css" rel="stylesheet" />

    @RenderSection("JavaScript", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Справочник работников", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                
                <ul class="nav navbar-nav">
                    @if (WebTest1.MySession.Current.CanOpenList)
                    { 
                        <li>@Html.ActionLink("Список работников", "Index", "Employee")</li>
                    }
                    @if (WebTest1.MySession.Current.CanUseSearch)
                    {
                        <li>@Html.ActionLink("Поиск работников", "Index", "Search")</li>
                    }
                    @if (!WebTest1.MySession.Current.CanOpenList)
                    {
                        <li>@Html.ActionLink("Вход в систему", "Index", "Login")</li>
                    }                                    
                </ul>
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year Кондратюк Кирилл</p>
        </footer>
    </div>

</body>
</html>
