﻿@model WebTest1.Models.employee

@{
    ViewBag.Title = "Создать";
}

@section JavaScript
{
    @Html.Raw(ViewBag.message)
}

<h2>Добавить</h2>

@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>нового работника в самую лучшую базу данных</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_firstname">Фамилия</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_firstname)
                @Html.ValidationMessageFor(model => model.employee_firstname)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_name">Имя</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_name)
                @Html.ValidationMessageFor(model => model.employee_name)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_lastname">Отчество</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_lastname)
                @Html.ValidationMessageFor(model => model.employee_lastname)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_lastname">Дата рождения</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_birthday)
                @Html.ValidationMessageFor(model => model.employee_birthday)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_lastname">Отдел</label>
            <div class="col-md-10">
                @Html.DropDownList("employee_ref_department", String.Empty)
                @Html.ValidationMessageFor(model => model.employee_ref_department)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_datestart">Дата начала работы в организации</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_datestart)
                @Html.ValidationMessageFor(model => model.employee_datestart)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_money">Величина зарплаты</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_money)
                @Html.ValidationMessageFor(model => model.employee_money)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_photo">Фотография</label>
            <div class="col-md-10">
                <input type="file" name="file" id="file" style="width: 100%;" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
