﻿@model WebTest1.Models.employee

@{
    ViewBag.Title = "Удалить";
}

@section JavaScript
{
    @Html.Raw(ViewBag.message)
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить этого человека из списка?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_firstname)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_name)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_lastname)
        </dd>

        <dt>
            Дата рождения
        </dt>

        <dd>
            @Model.employee_birthday.ToShortDateString()
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Да, удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
