﻿@model WebTest1.Models.employee

@{
    ViewBag.Title = "Детали";
}

<h2>Подробности</h2>

<div>
    <h4>о работнике</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_firstname)
        </dd>

        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_name)
        </dd>

        <dt>
            Отчество
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_lastname)
        </dd>

        <dt>
            Дата рождения
        </dt>

        <dd>
            @Model.employee_birthday.ToShortDateString()
        </dd>

        <dt>
            Дата начала работы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_datestart)
        </dd>

        <dt>
            Заработная плата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_money)
        </dd>

        <dt>
            Фотография
        </dt>

        <dd>
            @if ((Model.employee_photo != null) && (Model.employee_photo.Length != 0))
            {
                <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.employee_photo))" />
            }
            else
            {
                <p>нет фотографии</p>
            }
        </dd>

        <dt>
            Название отдела
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.department_title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.employee_id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
