﻿@model WebTest1.Models.employee

@{
    ViewBag.Title = "Edit";
}

@section JavaScript
{
    @Html.Raw(ViewBag.message)
}

<h2>Редактировать</h2>

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>старого работника в самой лучшей базе данных</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.employee_id)
        @Html.EditorFor(model => model.employee_photo)

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_firstname">Фамилия</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_firstname)
                @Html.ValidationMessageFor(model => model.employee_firstname)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_name">Имя</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_name)
                @Html.ValidationMessageFor(model => model.employee_name)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_lastname">Отчество</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_lastname)
                @Html.ValidationMessageFor(model => model.employee_lastname)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_lastname">Дата рождения</label>
            <div class="col-md-10">
                @Html.TextBox("employee_birthday", Model.employee_birthday.ToShortDateString())
                @*@Html.EditorFor(model => model.employee_birthday)*@
                @Html.ValidationMessageFor(model => model.employee_birthday)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_lastname">Отдел</label>
            <div class="col-md-10">
                @Html.DropDownList("employee_ref_department", String.Empty)
                @Html.ValidationMessageFor(model => model.employee_ref_department)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_datestart">Дата начала работы в организации</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_datestart)
                @Html.ValidationMessageFor(model => model.employee_datestart)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_money">Величина зарплаты</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.employee_money)
                @Html.ValidationMessageFor(model => model.employee_money)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="employee_photo">Фотография</label>
            <div class="col-md-10">
             <input type="file" name="file" id="file" style="width: 100%;" />
                @if ((Model.employee_photo != null) && (Model.employee_photo.Length != 0))
                {
                    <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(Model.employee_photo))" />
                }
                else
                {
                    <p>нет фотографии</p>
                }
                <input type="checkbox" name="remove" id="remove" />Удалить фотографию
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить изменения" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
