﻿@model IEnumerable<WebTest1.Models.employee>

@{
    ViewBag.Title = "Список всех работников";
}

@section JavaScript
{
    @Html.Raw(ViewBag.message)
}

<h2>Список всех работников</h2>

<p>
    @Html.ActionLink("Добавить нового работника", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Фамилия
        </th>
        <th>
            Имя
        </th>
        <th>
            Отчество
        </th>
        <th>
            Фотография
        </th>
        <th>
            Подразделение
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.employee_firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employee_lastname)
            </td>

            @*<td>
                    @((item.employee_datestart == null) ? "нет данных" : ((DateTime)item.employee_datestart).ToShortDateString())
                </td>*@

            <td>
                @if ((item.employee_photo != null) && (item.employee_photo.Length != 0))
                {
                    <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.employee_photo))" width="32" height="32" />                    
                }
                else
                {
                    <p>нет</p>
                }


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.department.department_title)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.employee_id }) |
                @Html.ActionLink("Просмотреть", "Details", new { id = item.employee_id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.employee_id })
            </td>
        </tr>
    }

</table>
