﻿<div class="jumbotron">

    <script src="../Scripts/moment-with-locales.js"></script>
    <script src="../Scripts/bootstrap-datepicker.js"></script>

    <h1>Поиск сотрудников</h1>

    <p>Введите фамилию, имя или отчество сотрудника. Максимально отображется 10 результатов поиска</p>

    <input id="txt_MyTextBox" type="text" name="txt_MyTextBox" value="" class="input_rewrite">

    <script type="text/javascript">
        $(document).ready(function () {

            var serviceURL = '/Search/SimpleSearch';

            $('input#txt_MyTextBox').keyup(function () {

                var nameVar = document.getElementById('txt_MyTextBox').value;

                $.ajax({
                    type: "POST",
                    //url: '<%= Url.Action("SimpleSearch", "Search") %>',
                    url: serviceURL,
                    data: { 'input': nameVar },
                    dataType: "html",
                    success: function (data) {
                        $('#test').html(data);
                    },
                    error: function (xhr, status, error) {
                        alert(xhr.responseText);
                    }
                });
            });
        });
    </script>

    <h1>Результаты поиска</h1>
    <div id="test">Ещё ничего не найдено</div>

    <h1 id="additional_text" style="cursor:pointer">Применить фильтры к поиску &raquo;</h1>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#additional_panel').hide();
            $('#additional_text').click(function (e) {
                e.preventDefault();
                $('#additional_panel').slideDown();
            });
        });

    </script>

    <div id="additional_panel">

        <hr />
        <p>Поиск сотрудников, день рождения которых будет в выбранном диапазоне дат</p>

        <div class="hero-unit">
            <div class="input-daterange" id="datepicker">
                <input type="text" class="input-small input_rewrite date_rewrite" name="start" />
                <span style="vertical-align: top;height:20px"> по </span>
                <input type="text" class="input-small input_rewrite date_rewrite" name="end" />
            </div>
        </div>

        <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {

                $('.input-daterange').datepicker({
                    todayBtn: "linked",
                    clearBtn: "Clear",
                    locale: "ru"
                });

                $('.input-daterange').datepicker().on('changeDate', function (ev) {
                    var serviceURL = '/Search/Filters';
                    var nameVar = document.getElementById('txt_MyTextBox').value;
                    $.ajax({
                        type: "POST",
                        url: serviceURL,
                        data: {
                            'input': nameVar,
                            'min_s': $("#slider-range").slider("values", 0),
                            'max_s': $("#slider-range").slider("values", 1),
                            'min_d': $('input[name=start]').val(),
                            'max_d': $('input[name=end]').val(),
                        },
                        dataType: "html",
                        success: function (data) {
                            $('#test').html(data);
                        },
                        error: function (xhr, status, error) {
                            alert(xhr.responseText);
                        }
                    });
                });

            });
        </script>

        <hr />
        <p>Поиск сотрудников с определенным уровнем зарплаты</p>

        <div class="demo">
            <p>
                <div id="amount"></div>
            </p>
            <div id="slider-range"></div>
        </div>
        <script>
            $(document).ready(function () {
                $("#slider-range").slider({
                    range: true,
                    min: 0,
                    max: 100000,
                    values: [0, 15000],
                    slide: function (event, ui) {
                        $("#amount").text("" + ui.values[0] + " - " + ui.values[1] + " р.");
                        var serviceURL = '/Search/Filters';
                        var nameVar = document.getElementById('txt_MyTextBox').value;
                        $.ajax({
                            type: "POST",
                            url: serviceURL,
                            data: {
                                'input': nameVar,
                                'min_s': $("#slider-range").slider("values", 0),
                                'max_s': $("#slider-range").slider("values", 1),
                                'min_d': $('input[name=start]').val(),
                                'max_d': $('input[name=end]').val(),
                            },
                            dataType: "html",
                            success: function (data) {
                                $('#test').html(data);
                            },
                            error: function (xhr, status, error) {
                                alert(xhr.responseText);
                            }
                        });
                    }
                });
                $("#amount").text("" + $("#slider-range").slider("values", 0) + " - " + $("#slider-range").slider("values", 1) + " р.");
            });
        </script>

       

    </div>

</div>
