﻿@model IEnumerable<WebTest1.Models.employee>

@if (Model.Count() == 0)
{
    <p>По запросу нет результатов</p>
}
else
{
    <table class="table">
        <tr>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Дата рождения</td>
            <td>Зарплата</td>
            <td>Фотография</td>
            <td>Название отдела</td>
            <td>Профиль</td>

                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @item.employee_firstname
                </td>
                <td>
                    @item.employee_name
                </td>
                <td>
                    @item.employee_lastname
                </td>
                <td>
                    @item.employee_birthday.ToShortDateString()
                </td>
                <td>
                    @String.Format("{0:0.00}", item.employee_money)
                </td>
                <td>
                    @if ((item.employee_photo != null) && (item.employee_photo.Length != 0))
                    {
                        <img src="@String.Format("data:image/gif;base64,{0}", Convert.ToBase64String(item.employee_photo))" width="32" height="32" />
                    }
                    else
                    {
                        <p>нет</p>
                    }
                </td>
                <td>
                    @item.department.department_title
                </td>
                <td>
                    @Html.ActionLink("Просмотреть", "Details", "Employee", new { id = item.employee_id }, null)
                </td>
            </tr>
                }
            </table>
}
