﻿@model WebTest1.Controllers.LoginController.LoginData

@{
    ViewBag.Title = "Авторизация";
}



<h2>Авторизация</h2>

<div class="center">
    <form method="post" action=@Url.Action("Index")>

        @if (ViewBag.Message != null)
        {
            <h4>@ViewBag.Message</h4>
        }

        <h4>Имя пользователя</h4>
        <input name="login" type="text" class="input_rewrite" maxlength="25" style="width:450px;" />

        <h4>Пароль</h4>
        <input name="password" type="password" class="input_rewrite" maxlength="25" style="width:450px;"  /> 

        <br /><br />
        <input name="comf" type="submit" value="Вход" class="buttonPage" style="width:100%; height:32px; max-width:none !important" />

    </form>
</div>