﻿@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Эту страницу я не открою, у Вас документов нет</h1>
    <p class="lead">Недостаточно прав для доступа к запрошенной странице</p>
</div>