﻿

@{
    ViewBag.Title = "Home Page";
}

@section JavaScript
{
    @Html.Raw(ViewBag.message)
}

<div class="jumbotron">
    <h1>Решение тестового задания</h1>
    <p class="lead">Приложение для управление сотрудниками на предприятии</p>
    <p><a href="../Login/Index" class="btn btn-primary btn-large">Вход в систему &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Администратор</h2>
        <p>
            Полный контроль над базой данных. Редактирование, добавление, удаление работников.
        </p>
        <p><a class="btn btn-default" href="#">Логин и пароль: admin/admin</a></p>
    </div>
    <div class="col-md-4">
        <h2>Руководитель</h2>
        <p>Просмотр списка работников, возможность использовать поиск по критериям (с фильтрами)</p>
        <p><a class="btn btn-default" href="#">Логин и пароль: head/head</a></p>
    </div>
    <div class="col-md-4">
        <h2>Сотрудник</h2>
        <p>Только просмотр списка работников</p>
        <p><a class="btn btn-default" href="#">Логин и пароль:  user/user</a></p>
    </div>
</div>